*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2, h3{
    padding: 10px 0;
}

.container{
    width: 70%;
    margin: auto;
}

.container header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container header div ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container header div ul li{
    padding: 0 5px;
    list-style-type: none;
}